@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-text-color: white; /* Light text color */
  --dark-text-color: #000000; /* Dark text color */
  --scrollbar-bg: #2c3e50; /* Background color for scrollbar */
}


@layer utilities {
  .text-light {
    color: var(--light-text-color) !important;
  }
  .text-dark {
    color: var(--dark-text-color) !important;
  }

  .site-layout-background {
    background-color: var(--background-color);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--light-text-color) var(--scrollbar-bg);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--light-text-color);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-bg);
  }
}
