@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-text-color: #ffffff;
  --dark-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-text-color: #ffffff;
    --dark-text-color: #ffffff;
  }
}

@layer utilities {
  .text-light {
    color: var(--light-text-color);
  }
  .text-dark {
    color: var(--dark-text-color);
  }
  .ant-typography.text-light {
    color: var(--light-text-color) !important;
  }
  
  .ant-typography.text-dark {
    color: var(--dark-text-color) !important;
  }
}
